<ion-view title="Bases" id="page14">
  <ion-content padding="true" class="has-header">
    <form>
      <h1>Enviamos Json a PHP</h1>
    
      <button id="crono-button7" class="button button-positive button-block" ng-click="llamarPromesa()">Demo Sin Promesas</button>
      <button id="crono-button7" class="button button-positive button-block" ng-click="llamarconPromesa()">Demo Con Promesas</button>
      <h1>Mensajes</h1>
      <ul>
        <li ng-repeat="message in messages">{{message}}</li>
      </ul>
    </form>
  </ion-content>
</ion-view>