<ion-view title="Bienvenidos" id="page13" cache-view="false" class="logoCepro" hide-nav-bar="true">

    <ion-content padding="true" >
    
        <!-- <div multi-bg="['img/bg-img.jpg']"></div> -->
        <div class="center" >
            <div class="row">
                  <button type="submit" class="button button-positive button-block" ui-sref="menu.inicio()">
                    INGRESAR
                  </button>  
            </div>
        </div>
    </div>

</ion-content>

</ion-view>